
<div class="navbar">
  <div>
    <a href="/">🏨 HotelEase3</a>
  </div>

  <div>
    <% if (user && user.role === 'admin') { %>
      <a href="/hotels">จัดการโรงแรม</a>
      <a href="/rooms">จัดการห้อง</a>
      <a href="/reports">รายงาน</a>
    <% } else { %>
      <a href="/hotels">ดูโรงแรม</a>
      <a href="/bookings">การจองของฉัน</a>
    <% } %>
  </div>
</div>